* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Navbar Section */

.navbar {
    background-color: #fff; /* White background */
    padding: 10px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Spaces items out along the main axis */
    align-items: center; /* Centers items vertically */
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}
.nav-links {
    list-style-type: none; /* Removes bullet points */
    display: flex;
    justify-content: center; /* Centers the links group */
    flex-grow: 1; /* Allows links to take up available space */
    margin: 0 20px; /* Adds some margin around links group */
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #4CAF50; /* Hover effect */
}

.early-access:hover {
    background-color: #85f78b;
}

.early-access {
    background-color: #45a049; /* Green background for the button */
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


